/*! CSS Used from: http://landing.socialmedialink.com/Genexa/rewards/main.css */
:root {
    --primaryColor: #000000;
    --secondaryColor: #c0c0c0;
    --customFont: CopernicusBook;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
body main {
    flex: 1 auto;
}
h2 {
    font-family: var(--customFont);
}
a {
    text-decoration: none;
    color: var(--primaryColor);
}
a:hover {
    opacity: 0.75;
    transition: all 0.3s ease;
    transform: scale(1.1);
}
a:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px var(--secondaryColor);
}
p {
    text-align: center;
}
button {
    font-size: 16px;
    font-weight: 300;
    border: none;
    background: transparent;
}
footer {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.main-link {
    display: flex;
    justify-content: center;
}
.cta-link {
    color: white;
    background-color: #000000;
    font-family: var(--customFont);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.15s ease;
    white-space: nowrap;
    padding: 12px;
    width: 200px;
    margin: 2em 0;
}
.cta-link:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #c0c0c0;
}
.cta-link:active {
    background-color: #5c2573;
}
.disclosures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.disclosures-link {
    display: flex;
    font-family: var(--customFont);
    font-weight: 300;
    font-size: 16px;
    padding-right: 10px;
    cursor: pointer;
}
.disclosures-link:hover {
    color: #5c2573;
    transition: 700ms;
}
.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.socials {
    display: flex;
}
.fa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center center;
    margin: 0 5px;
}
.fa:hover {
    opacity: 0.75;
    transition: all 0.3s ease;
    transform: scale(1.1);
}
.fa:active {
    opacity: 0.85;
    transition: all 0.3s ease;
}
.fa-facebook {
    background-image: url("http://landing.socialmedialink.com/Genexa/rewards/public/assets/240x240facebook.png");
}
.fa-twitter {
    background-image: url("http://landing.socialmedialink.com/Genexa/rewards/public/assets/240x240twitter.png");
}
.fa-instagram {
    background-image: url("http://landing.socialmedialink.com/Genexa/rewards/public/assets/240x240instagram.png");
}
.modal-overlay {
    position: absolute;
    top: 75%;
    left: 5em;
    right: 5em;
    z-index: 5;
    background-color: white;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
    color: #444444;
    font-size: 18px;
    display: none;
    flex-direction: column;
}
.modal-top {
    display: flex;
    flex-direction: row;
}
.modal-top-close {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}
#modal-top-close-icon {
    height: 25px;
    width: 25px;
    margin: 1em 1em 0 auto;
    background-image: url("./public/assets/1920x1080-hero.jpg");
    background-size: cover;
    background-position: center center;
}
#modal-top-close-icon:hover {
    background-image: url("./public/assets/1920x1080-hero.jpg");
    transform: scale(1.1);
    transition: all 0.4s ease;
}
.modal-copy {
    margin: 1em;
    overflow: scroll;
    max-height: 200px;
    font-family: var(--customFont);
}
.modal-close {
    display: flex;
    justify-content: center;
}
#btn-modal-close {
    background-color: var(--primaryColor);
    color: #fff;
    font-family: var(--customFont);
    border: none;
    margin: 1em 0;
    padding: 0.5em;
    font-size: 14px;
}
#btn-modal-close:hover {
    opacity: 0.75;
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
    transition: all 0.1s ease;
}
.contact-line {
    display: flex;
    flex-direction: row;
    font-family: var(--customFont);
    justify-content: center;
    margin-left: 10px;
}
@media screen and (max-width: 768px) {
    .main-link {
        margin-top: 5em;
    }
}
@media screen and (max-width: 600px) {
    body footer {
        display: flex;
        flex-direction: column;
    }
    .footer-row {
        flex-direction: column;
    }
    .socials {
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }
    .modal-overlay {
        top: 15%;
        left: 3em;
        right: 3em;
        font-size: 14px;
    }
}
@media screen and (max-width: 350px) {
    .fa {
        height: 25px;
        width: 25px;
        margin: 0 5px;
    }
    .modal-copy {
        margin: 1em 0.15em;
        padding: 0 0.5em;
    }
    #btn-modal-close {
        margin: 0.5em 0;
    }
    .modal-top-close {
        height: 20px;
        width: 20px;
        margin: 0.5em 0.5em 0 auto;
    }
    .disclosures-link {
        font-size: 14px;
    }
}
